<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layouts/default_layout}" layout:fragment="content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
		<table>
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>작성자</th>
					<th>작성일</th> <!-- yyyy년MM월dd일 -->
				</tr>
			</thead>
			<tbody>
				<th:block th:each="info : ${boardList}">
					<tr>
						<td>[[${info.bno}]]</td>
						<td>[[${info.title}]]</td>
						<td>[[${info.writer}]]</td>
						<td>[[${#dates.format(info.regdate, 'yy년MM월dd일')}]]</td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
</body>
</html>