<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="Content">
<head>
<meta charset="UTF-8">
<meta name="contextPath" th:value="${#httpServletRequest.getContextPath()}">
<title>전체사원조회</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>사원번호</th><!-- employeeId -->
				<th>이름</th>   <!-- lastName -->
				<th>입사일자</th><!-- hireDate -->
				<th>업무</th>   <!-- jobId -->
			</tr>
		</thead>
		<tbody>
			<!--/* 타임리프의 경우 
				   조건문과 반복문이 함께 사용될 때
				   <th:block/> 태그를 이용해서 분리 */-->
			<th:block th:each="emp : ${empList}">
				<tr th:onclick="|location.href='@{/empInfo(employeeId=${emp.employeeId})}'|">
					<td th:text="${emp.employeeId}"/>					
					<td th:text="${emp.lastName}"/>
					<!--/* <td>[[ ${emp.hireDate} ]]</td> */-->
					<td>[[ ${ #dates.format(emp.hireDate, 'yyyy년MM월dd일') } ]]</td>
					<td>[[ ${emp.jobId} ]]</td>				
				</tr>
			</th:block>	
		</tbody>
	</table>
	<script>
		const context = $('meta[name="contextPath"]').attr('value');
		$('tbody > tr').on('click', function(event){
			let eId = $(event.currentTarget).children().first().text();
			let url = context + '/empInfo?employeeId=' + eId;			
			location.href=url;
		});
	</script>
</body>
</html>